body
{
    line-height: 1.5em;
}

a.course
{
    text-decoration: none;
    color: inherit;
}


#timetable
{
        font-family: "Droid Sans", Sans-Serif;
	margin: 0px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;

}
#timetable th
{
        font-size: large;
	font-weight: normal;
        text-align: center;
        background: #9c1c6b;
	border-bottom: 2px solid #fff;
	color: #fff;
        padding: 0.5em;
        height: 1.5em;
}

th#heart
{
    font-family: "Android Emoji";
}

#timetable td
{
        font-size: medium;
        background: #ffe9e8;
	border: 2px solid #fff;
        color: #aa0114;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 1em;
        height: 3em;
}


#timetable tr:hover td
{
        background: #ca278c;
        color: #fff;
}


#timetable tr td.time
{
    width:8%;
    text-align: center;
    padding-left: 0px;
}
#timetable tr td{width:23%;}

#fox
{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

#hiddenzero {visibility: hidden;}
