body
{
    font-family: "DroidSans", Sans-Serif;
    font-size: large;
    line-height: 1.5em;
}

a.course
{
    text-decoration: none;
    color: inherit;
}


#timetable
{
	margin: 0px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;

}
#timetable th
{
	font-weight: normal;
        text-align: center;
        border: 1px solid #fff;
        background: #9C1C6B;
	border-bottom: 2px solid #fff;
	color: #fff;
        padding: 0.5em;
        height: 1.5em;
}

#timetable td
{
        background: #FFE9E8;
	border: 2px solid #fff;
        color: #AA0114;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 2em;
        height: 2em;
}
#timetable tr:hover td
{
        background: #E47297;
}
#timetable tr td:hover
{
    background: #CA278C;
}
#timetable tr td.time ~ td:hover *
{
    color: #fff;
}

#timetable tr td.time{width:8%;}
#timetable tr td{width:23%;}

#fox
{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
