body
{
    line-height: 1.5em;
}

a
{
    text-decoration:none;
}
a:visited {text-decoration:none;}
a:hover     {text-decoration:none;}
a:active   {text-decoration:none;}

#fox
{
	margin-top: 40px;
	width: 100%;
	text-align: center;
}

#box-table-a
{
	font-family: "Georgia", "Lucida Grande", Sans-Serif;
	font-size: x-large;
	margin: 0px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: x-large;
	font-weight: normal;
        text-align: center;
        padding: 0.5em;
        background: #9C1C6B;
	border-bottom: 1px solid #fff;
	color: #fff;
}
#box-table-a th#heart {font-family: Serif;}

#box-table-a td
{
	padding: 0.5em;
        background: #FFE9E8;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
        color: #AA0114;
	border-top: 1px solid transparent;
        height: 2em;
}
#box-table-a tr:hover td
{
        background: #E47297;
	color: #339;
}
#box-table-a tr td:hover
{
    background: #CA278C;
    color: #000;
}
#box-table-a tr td:hover *
{
    color: #fff;
}

#box-table-a tr td.time{width:8%;}
#box-table-a tr td{width:23%;}
